/* 'rem' and 'em' do not depend on html font-size in media queries, Instead, 1rem=1em=16px */

/* rem=root font-size 
em=current font size
*/
/* we should not use rem in media queries but we should use em in media queries */
/*****************************/
/* BELOW 1344px(SMALLER DESKTOPS) */
/*****************************/

/* 1st breakpoint found at 1344px */

/* converting 1344px to em */

/* 1344px/16px= 84em*/

@media (max-width: 84em) {
  .hero {
    /* below 'rem' has nothing to do with above'em' , it still works same as previous  */
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
