/* 'rem' and 'em' do not depend on html font-size in media queries, Instead, 1rem=1em=16px */

/* rem=root font-size 
em=current font size
*/
/* we should not use rem in media queries but we should use em in media queries */
/*****************************/
/* BELOW 1344px(SMALLER DESKTOPS) */
/*****************************/

/* 1st breakpoint found at 1344px */

/* converting 1344px to em */

/* 1344px/16px= 84em*/

@media (max-width: 84em) {
  .hero {
    /* below 'rem' has nothing to do with above'em' , it still works same as previous  */
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* BELOW 1200px(LANDSCAPE TABLETS) */
/*****************************/

/* 2st breakpoint found at 1200px , here at this point we found that font-size are bit higher*/

/* converting 1200px to em */

/* 1200px/16px= 75em*/

@media (max-width: 75em) {
  html {
    /* we want 9px so (9px divided by 16px-default) multiplied by 100=56.25% */
    font-size: 56.25%;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}
/* BELOW 944px( TABLETS) */
/*****************************/

/* 3rd breakpoint found at 944px , here at this point we found that grid alignment  are bit huge to a row*/

/* converting 944px to em */

/* 944px/16px= 59em*/

@media (max-width: 59em) {
  html {
    /* we want 8px so (8px divided by 16px-default) multiplied by 100=50% */
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero-img {
    width: 60%;
  }
  .hero-text-box {
    text-align: center;
  }
  .hero-image-box {
    text-align: center;
  }
  .delivered-meals {
    /* because we have used flex , we use justify-content here */
    justify-content: center;
    margin-top: 3.2rem;
  }
  .logos img {
    height: 2.4rem;
  }
  .step-number {
    font-size: 7.4rem;
  }
  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .cta {
    /* 3/5= 60% + 2/5=40% */
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .btn--form {
    margin-top: 1.2rem;
  }
  /* mobile navigation icons-menu icon and close icon */
  .btn-mobile-nav {
    /* to display menu icon at this point */
    display: block;
  }
  /* working on main-nav */
  .main-nav {
    background-color: blue;
    /* 1: when we position an element absolutely, we first have to make the parent element relative */
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in;
    transform: translateX(100%);
    width: 100%;
    /* below height covers the hero section */
    height: 100vh;
    /* now we are going to center items */
    display: flex;
    align-items: center;
    justify-content: center;
    /* ------------------------ */
    /* By default hide the navigation at this query */
    /* problem with display : none, is no animation effect(eg: no transition at all) can be seen */
    /* display: none; */
    /* ------------------------ */

    /* SO WE USE OPACITY as shown */
    /* to hide navigation we use followings: */
    /* 1) Hide it visually */
    opacity: 0;
    /* 2)Make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* 3) Hide it from screen-readers */
    visibility: hidden;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
  /* nav open class and main-nav class */
  /* when nav-open exists, main-nav can be applied with below opacity */
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  /* Now at this media query, we will display the close-outline class is present icon , only when nav is open */
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  /* when nav is open and icon mobile nav's menu-outline should be displayed as none */
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}
