/* 
---01 TYPOGRAPGHY SYSTEM

      --FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

      --FONT WEIGHTS: 
        Default: 400

      --LINE HEIGHTS:
        Default line weight : 1

      --SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

---02 COLORS
      --Primary: #e67e22;
            
      --Tints(Darker shades):
      --Shades(Lighter shades):
      --Accents:
      --Greys: #555

---03 IMAGES

    -- Got images from https://unsplash.com/ 
        All you have to do is, for example, to search for food.    And then whatever you need,    you can just click here on this download arrow,    and this will then immediately download the image    and you can then use it for free,    without any restrictions, wherever you want.
    -- Got customer images from https://www.uifaces.co/browse-avatars/ 
        you can then use it for free.


---04 SHADOWS

---05 BORDER-RADIUS

---07 WHITESPACE


*/

/* with the global reset. So selecting everything and then setting padding and margin    to 0 in order to override the default styles    of all browsers,    and then also activating the border-box setting    in our box model.    Okay.    So that is our global reset, */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* The line-height property specifies the height of a line. */
/* Note: Negative values are not allowed. */

html {
  font-size: 62.5%;
  /* means 10px */
  /* default browser font size is 16px which means ,  lets say that we need to set to 10px: */
  /* so 10px/16px=0.625 */
  /* Converting to percentage */
  /* 0.625x100= 62.5% */
}
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/* CSS STYLING BEGINS */

/* Creating css grid container hero and styling it */

.hero {
  display: grid;
  /* creating two columns */
  grid-template-columns: 1fr 1fr;
  /* Giving the fixed width */
  max-width: 130rem;
  /* 130x10px=1300px because we made 1 rem to 10px above by mentioning as 62.5% */
  background-color: purple;
  /* we also want to center it
    in the view port and for that we're actually going to use
    our old trick of margin 0 auto. */

  margin: 0 auto;
}

.hero-img {
  /* this will fill it's parent element entirely, that is  it will fill 'hero-image-box' div completely */
  width: 100%;
}
