/*****************************/
/* HEADER SECTION */
/*****************************/
.logo {
  height: 2.2rem;
}

/*****************************/
/* NAVIGATION SECTION */
/*****************************/
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  /* to avoid giving padding to everywhere we can use inline block */
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}
.header {
  display: flex;
  justify-content: space-between;
  /* aligning vertically center */
  align-items: center;
  background-color: #fdf2e9;
  /* giving some fixed height to header. because we want to make header, a sticky one */
  height: 9.6rem;
  padding: 0 4.8rem;
}
/*****************************/
/* HERO SECTION */
/*****************************/

/* Creating css grid container hero and styling it */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  display: grid;
  /* creating two columns */
  grid-template-columns: 1fr 1fr;
  /* Giving the fixed width */
  max-width: 130rem;
  /* 130x10px=1300px because we made 1 rem to 10px above by mentioning as 62.5% */
  /* generated below color using the tints and shades of main color of website */
  /* we also want to center it
    in the view port and for that we're actually going to use
    our old trick of margin 0 auto. */
  margin: 0 auto;
  align-items: center;
  /* gaps between grids */
  gap: 9.6rem;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  /* this will fill it's parent element entirely, that is  it will fill 'hero-image-box' div completely */
  width: 100%;
}

/* delivered meals acts like a flex container */
.delivered-meals {
  /* to display side by side */
  display: flex;
  margin-top: 8rem;
  /* below aligns to everything to center vertically */
  align-items: center;
  /* gap between items*/
  gap: 1.6rem;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  /* to overlap images ,i.e to pull each images to the left side*/
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
/* to select last image element we have a pseudo class :last-child like below*/
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  /* used https://coolors.co/contrast-checker/cf711f-fdf2e9 */
  color: #cf711f;
  font-weight: 700;
}
/*****************************/
/* FEATURED IN SECTION*/
/*****************************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}
.logos {
  /* display:flex will make logos side by side */
  display: flex;
  /* to give space around the logo images */
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  /* making images to different color or brightness */
  filter: brightness(0);
  /* can also change the visibility of images */
  opacity: 50%;
}
/*****************************/
/* HOW IT WORKS SECTION */
/*****************************/
.section-how {
  padding: 9.6rem 0;
  /* background-color: orangered; */
}

.step-img {
  width: 35%;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
/* centering image both vertically and horizontally */
.step-img-box {
  /* below is parent position element */
  position: relative;
  /* in-order to align them in both ways we should use flex so by default display :flex will align items to strech vertically*/
  display: flex;
  /* Vertically it will make it center */
  align-items: center;
  /* horizontally it will make it center */
  justify-content: center;
}

/* to make step img box div as circle using pseudo elements */

/* putting common things together */
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  /* below is child position element of the parent's position  */
  position: absolute;
  /* we want to center the element */
  top: 50%;
  left: 50%;
  /* so if we use translate it will transfrom it mentioned percent of height and width accordingly */
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  width: 60%;
  /* below height specification wont reflect so we add padding bottom as below */
  /* height: 60%; */
  /* below padding means, it is 60% of parent's width, this will create a intrinsic height of zero with padding 60%,so it will appear as a square */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  /* Elements with higher value of z-index will appear first i.e on top*/
  z-index: -2;
}
/* to create one more circle using after, because we cannot use before again */

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
/*****************************/
/* MEALS SECTION */
/*****************************/
.section-meals {
  padding: 9.6rem 0;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  /* whatever overflows this container has, that should be hiddden */
  overflow: hidden;
  /* to make animation along with hover, we use transition property on the original state that is, .meal */
  transition: all 0.4s;
}
/* creating hover effect to meal cards */
.meal:hover {
  /* transform:translate(horizontal vertical) */
  /* transform:translateY(+vertical)=will hover down */
  /* transform:translateY(-vertical)=will hover up */
  transform: translateY(-1.2rem);
  /* to make animation along with hover,  we use transition property on the original state that is, .meal */
  /* ----------------- */
  /* changing box shadow on hover */
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  /* to make it text bold */
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  list-style: none;
  /* display: flex by default it will be set to row, so we will be making it as flex-direction:column */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  /* makeing it to align peoperly */
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meal-img {
  width: 100%;
}
/* coloring, sizing  the icons */

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
/* redefining the strong tag's property of css */
strong {
  font-weight: 500;
}
/* diet list */
.list-item {
  font-size: 1.8rem;
  /* to align list names with icon vertically centerwise */
  display: flex;
  align-items: center;
  /* gap in between */
  gap: 1.6rem;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
/*****************************/
/* TESTIMONIALS SECTION */
/*****************************/

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonials-container {
  padding: 9.6rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

/* creating hovering effect on images */
.gallery-item img:hover {
  transform: scale(1.1);
}
/* gallery */
.gallery-item img {
  display: block;
  /* it occupies vertically huge way, so to fix that we give width: 100% */
  width: 100%;
  transition: all 0.4s;
}
