/* 
---01 TYPOGRAPGHY SYSTEM

      --FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

      --FONT WEIGHTS: 
        Default: 400

      --LINE HEIGHTS:
        Default line weight : 1

      --SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

---02 COLORS
      --Primary: #e67e22;
            <generated tints and shades using tints and shades generator online tool>
            <a tint is a mixture of a color with white, which increases lightness, while a shade is a mixture with black, which increases darkness.>
      --Tints(lighter shades):#fdf2e9
      --Shades(Darker shades):#cf711f
      --Accents:
      --Greys: 
         #555
         #333


---03 IMAGES

    -- Got images from https://unsplash.com/ 
        All you have to do is, for example, to search for food.    And then whatever you need,    you can just click here on this download arrow,    and this will then immediately download the image    and you can then use it for free,    without any restrictions, wherever you want.
    -- Got customer images from https://www.uifaces.co/browse-avatars/ 
        you can then use it for free.


---04 SHADOWS

---05 BORDER-RADIUS

---07 WHITESPACE


*/

/* with the global reset. So selecting everything and then setting padding and margin    to 0 in order to override the default styles    of all browsers,    and then also activating the border-box setting    in our box model.    Okay.    So that is our global reset, */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* The line-height property specifies the height of a line. */
/* Note: Negative values are not allowed. */

html {
  font-size: 62.5%;
  /* means 10px */
  /* default browser font size is 16px which means ,  lets say that we need to set to 10px: */
  /* so 10px/16px=0.625 */
  /* Converting to percentage */
  /* 0.625x100= 62.5% */
}
body {
  font-family: "Rubik" sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/* CSS STYLING BEGINS */

/* Creating css grid container hero and styling it */
.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}
.hero {
  display: grid;
  /* creating two columns */
  grid-template-columns: 1fr 1fr;
  /* Giving the fixed width */
  max-width: 130rem;
  /* 130x10px=1300px because we made 1 rem to 10px above by mentioning as 62.5% */
  /* generated below color using the tints and shades of main color of website */
  /* we also want to center it
    in the view port and for that we're actually going to use
    our old trick of margin 0 auto. */
  margin: 0 auto;
  align-items: center;
  /* gaps between grids */
  gap: 9.6rem;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  font-weight: 700;
  color: #333;
  margin-bottom: 3.2rem;
  /* The letter-spacing property increases or decreases the space between characters in a text. */
  letter-spacing: -0.5px;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  /*Inline elements are those which only occupy the space bounded by the tags defining the element, instead of breaking the flow of the content. Note: An inline element does not start on a new line and only takes up as much width as necessary  */

  /* “display: inline-block” Property: This property is used to display an element as an inline-level block container. The element itself is formatted as an inline element, but it can apply height and width values. It is placed as an inline element (on the same line as adjacent content). */

  display: inline-block;
  background-color: #e67e22;
  /* removing the underline of the anchor link */
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
}
/* btn-ful styling */
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
  /* put transition on original state */
  transition: background-color 0.3s;
}
/* on hover of btn ful*/

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

/* btn-outline styling */
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
/* on hover of btn outline*/
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* this type of border adds border outside if the button, which shakes the layout a bit */
  /* border: 2px solid white; */
  /* A trick to avoive above is to use box-shadow: */
  box-shadow: inset 0 0 0 3px #fff;
}
.hero-img {
  /* this will fill it's parent element entirely, that is  it will fill 'hero-image-box' div completely */
  width: 100%;
}

/* reusable class-(helper class) */
.margin-right-sm {
  margin-right: 1.6rem !important;
}
/* delivered meals acts like a flex container */
.delivered-meals {
  /* to display side by side */
  display: flex;
  margin-top: 8rem;
  /* below aligns to everything to center vertically */
  align-items: center;
  /* gap between items*/
  gap: 1.6rem;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  /* to overlap images ,i.e to pull each images to the left side*/
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
/* to select last image element we have a pseudo class :last-child like below*/
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  /* used https://coolors.co/contrast-checker/cf711f-fdf2e9 */
  color: #cf711f;
  font-weight: 700;
}
